@import url(https://fonts.googleapis.com/css?family=Courgette&display=swap);
@media (min-width: 760px) {
  #intro {
    width: 700px;
    height: auto;
    font-size: 25px;
    font-weight: lighter;
  }
}
@media (max-width: 480px) {
  #intro {
    width: 100%;
    height: auto;
    font-size: 25px;
    font-weight: lighter;
    margin: 0 15px;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: Courgette, cursive;
  background-color: #dcdcdc;
}
.bg-img {
  width: 100%;
  height: 100vh;
  background: url(images/back8.jpg) no-repeat;
  background-size: cover;
  filter: blur(5px);
  z-index: -2;
}
#site-header {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
#profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 40px #fff;
}
#name {
  font-size: 50px;
  font-weight: 300;
  height: auto;
  margin: 5px 5px;
  z-index: 100;
}
#intro {
  font-size: 20px;
  font-weight: lighter;
}
.links {
  text-align: center;
}
.links a img {
  width: 40px;
  height: auto;
  margin: 0 10px 10px 0;
  transition: 0s;
  border-radius: 50%;
  box-shadow: 0 0 20px #bdc3c7;
}
.links a img:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px #fff;
}
#github-icon,
#linkedin-icon {
  background-color: #fff;
}
#email-add,
#phone {
  margin: 5px 7px 0 0;
  text-align: center;
}
#container {
  filter: blur(0.5);
}
.projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.projects .card {
  margin: 5px 5px;
}
.card {
  box-shadow: 0 0 20px grey;
  width: 18rem;
}
i {
  margin: 2px 5px;
}
