
.site-header {
  /* background-color:#263137;  */
  background-color: rgb(35, 175, 180);
  /* background-image: linear-gradient(to top, #f7f6e4, #070f16); */
  color: #d7e6e6;
  height: 60vh;
  width: 100%;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.profile-pic {
  
  border-radius: 50%;
  height: 200px;
  width: 200px;
  align-self: center;
  box-shadow: #313333 5px 10px 10px;
}
h1{
text-align: center;
}
.links{
display: flex;
align-items: center;
justify-content: center;
border-radius: 15px;

}

#insta{
 margin: 6px;
}
#linkedin{
  margin: 3px;
}

#github{
  margin: 3px;
}

h3{
  text-align: center;
  }

  h2{
    text-align: center;
    box-shadow: grey 5px 5px 5px;
    flex: 1;
    width: 50%;
    align-self: center;
    border-radius: 50px
    
  }

img{
  height:22vh;
  width: 22vw;
}
.projects{
  display: flex;
  align-items: center;
  justify-content: space-around;  
}
#portfolio{
  position: relative;
  margin: 10px;
  height: 150px;
  width: 300px;
  flex:1;
}
#expenseApp{
  position: relative;
  margin: 10px;
  height: 150px;
  width: 300px;
  flex: 1;
}
#clickMusic{
  position: relative;
  margin: 10px;
  height: 150px;
  width: 300px;
  flex: 1;
}

#portfolioInfo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  color: #fff;
  visibility: hidden;
  opacity: 0;

}

#expenseAppInfo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

#clickMusicInfo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

#portfolio:hover #portfolioInfo{
  visibility: visible;
  opacity: 1;
}

#expenseApp:hover #expenseAppInfo{
  visibility: visible;
  opacity: 1;
}
#clickMusic:hover #clickMusicInfo{
  visibility: visible;
  opacity: 1;
}


body {
  margin: 0;
}
.container{
  display: flex;
  flex-direction: column;
}