@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
  background-color: white;
}
.bg-img {
  width: 99vw;
  height: 100vh;
  background: url(images/back8.jpg) no-repeat;
  background-size: cover;
  filter: blur(5px);
  z-index: -2;
}

#site-header {
  margin-top: 50px;
  width: 97.8vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

#profile-pic {
  width: 15%;
  height: 25%;
  border-radius: 50%;
  box-shadow: 0px 0px 40px white;
}

#name {
  font-size: 50px;
  font-weight: 300;
  height: auto;
  margin: 5px 5px;
  z-index: 100;
}

#intro {
  font-size: 1.5em;
  font-weight: lighter;
  margin: 1vh;
  color: #fff;
}

.links {
  text-align: center;
}

.links a img {
  width: 40px;
  height: auto;
  margin: 0px 10px 10px 0px;
  transition: 0.3ms;
  border-radius: 50%;
  box-shadow: 0px 0px 20px #bdc3c7;
}

.links a img:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 20px #fff;
}

#github-icon,
#linkedin-icon {
  background-color: white;
}

#phone,
#email-add {
  margin: 5px 7px 0px 0px;
  text-align: center;
}

#contact {
  font-size: 1.5em;
}

textarea {
  font-size: 1em;
  resize: none;
  outline: none;
  text-align: center;
  color: #eee;
  background-color: #112;
  border: 0;
}
#copy-icon:hover {
  font-size: larger;
  cursor: pointer;
}

/* hr {
  border: 0.2em solid black;
} */
#container {
  /* background-image: url(images/back1.jpg); */
  filter: blur(0.5);
}
.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 97.8vw;
  height: 100vh;
}

.card {
  text-align: center;
  box-shadow: 0px 0px 10px grey;
  width: 20vw;
  height: 45vh;
  margin: 0.5%;
  padding: 0.5%;
  background-color: white;
  border-radius: 2%;
}

.card:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 15px grey;
}

a {
  text-decoration: none;
  color: black;
}

.project-image {
  width: 100%;
  height: 45%;
}

.project-name {
  font-size: 1.2rem;
  text-decoration: underline;
  color: darkslategrey;
}

.caption {
  height: 40%;
}
.project-caption {
  font-size: 1em;
  font-weight: normal;
}

@media (min-width: 760px) {
  #intro {
    width: 50vw;
    height: auto;
    font-size: 1.5em;
    font-weight: lighter;
    text-justify: center;
  }
}
@media (min-width: 481px) and (max-width: 759px) {
  #site-header {
    margin-top: 20px;
    justify-content: start;
    padding-top: 10vh;
  }

  #name {
    font-size: 2em;
    font-weight: bold;
    height: auto;
    margin: 5px 5px;
    z-index: 100;
  }

  #intro {
    width: 90vw;
    font-size: 1.2em;
    font-weight: lighter;
    padding: 0% 10%;
  }

  .links a img {
    margin-top: 3vh;
    width: 30px;
  }

  textarea {
    font-size: 1em;
  }

  .card {
    margin-top: 4vh;
    width: 40vw;
    height: 40%;
    font-size: 0.8em;
  }

  .project-name {
    font-size: 1rem;
  }
  .caption {
    margin: 2vh 1vh;
    padding: 0;
  }
}

@media (max-width: 480px) {
  #site-header {
    margin-top: 20px;
    justify-content: start;
    padding-top: 10vh;
  }

  #profile-pic {
    width: 30vw;
    height: 20vh;
    border-radius: 50%;
    box-shadow: 0px 0px 40px white;
  }

  #name {
    font-size: 1.5em;
    font-weight: bold;
    height: auto;
    margin: 10px 5px;
    z-index: 100;
  }

  #intro {
    width: 90vw;
    font-size: 1em;
    font-weight: lighter;
    padding: 0% 15%;
  }
  .links a img {
    margin-top: 3vh;
    width: 5vw;
  }

  textarea {
    padding: 1vh;
    font-size: 0.8em;
  }

  #copy-icon {
    font-size: large;
    cursor: pointer;
  }

  .card {
    margin-top: 3vh;
    width: 70vw;
    height: 40%;
    font-size: 1em;
  }

  .project-name {
    font-size: 1rem;
  }
  .caption {
    margin: 2vh 1vh;
    padding: 0;
  }
}
